.dom_line {
	margin:2px;
	border-bottom:1px gray dotted;
	height:1px;
}
.domBtnDiv {
	display:block;
	padding:2px;
	border:1px gray dotted;
	background-color:powderblue;
}
.categoryDiv {
	display:inline-block; 
	width:335px;
}
.domBtn {
	display:inline-block;
	cursor:pointer;
	padding:2px;
	margin:2px 5px;
	border:1px #629fc5 solid;
	border-radius: 3px;
	background-color:#fff9c8;
}
.domBtn_Disabled {
	display:inline-block;
	cursor:default;
	padding:2px;
	margin:2px 10px;
	border:1px gray solid;
	border-radius: 3px;
	background-color:#DFDFDF;
	color:#999999;
}
.dom_tmp {
	position:absolute;
	font-size:12px;
}
.active {
	background-color: #93C3CF;
}
.designCenter {
	height:230px;
	padding: 10px 0 10px 10px;
}
.designCenter-body{
	border:1px solid #a8cdd7;
	background-color: #eff8fd;
	padding: 10px 5px;
}
.inmeasure{
	float:left;
}
.measure{
	background:url(../images/qddesigner/measure.png) no-repeat;
	width:9px;
	height:14px;
	float:left;
}
.column{
	background:url(../images/qddesigner/column.png) no-repeat;
	width:9px;
	height:14px;
	float:left;
}
.columnasc{
	background:url(../images/qddesigner/sort_column_asc.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}
.columndesc{
	background:url(../images/qddesigner/sort_column_des.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}

.measureasc{
	background:url(../images/qddesigner/sort_measure_ascending.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}
.measuredesc{
	background:url(../images/qddesigner/sort_measure_descending.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}

.measureright{
	background:url(../images/qddesigner/popupmenu_dwn.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}

.paramedit{
	background:url(../images/qddesigner/editStep.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}

.paramdel{
	background:url(../images/qddesigner/deleteStep.png) no-repeat;
	width:16px;
	height:16px;
	float:left;
}
			
.vmenu{
	border:1px solid #979797;
	position:absolute;
	background:#feffff;
	display:none;font-size:12px;
}
.first_li{
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding: 4px 0;
	border-bottom: 1px solid #d7d7d7;
}
.first_li span{
	width:100px;
	display:block;
	padding:0 10px;
	cursor:pointer;
	color:#222;
}
.inner_li{
	display:none;
	margin-left:-120px;
	position:absolute;
	border:1px solid #aaa;
	border-left:1px solid #ccc;
	line-height: 20px;
	margin-top:-28px;
	background-color:#feffff;
}
.inner_li span{
	padding: 6px 10px 6px 15px;
	border-bottom: 1px solid #d7d7d7;
	color:#222;
}
.sep_li{
	border-top: 1px ridge #aaa;
	margin:5px 0;
}
.fill_title{
	font-size:11px;
	font-weight:bold;
	/height:15px;
	/overflow:hidden;
	word-wrap:break-word;
}

.ztree li span.button.pIcon01_ico_open{
	margin-right:2px; 
	background: url(../images/qddesigner/subjectarea_qualifier.png) no-repeat scroll 0 0 transparent;
	vertical-align:top; 
	*vertical-align:middle;
}
.ztree li span.button.pIcon01_ico_close{
	margin-right:2px; 
	background: url(../images/qddesigner/subjectarea_qualifier.png) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle;
}
.ztree li span.button.icon01_ico_docu{
	margin-right:2px;
	background: url(../images/qddesigner/measure_2.png) no-repeat ;
}
.ztree li span.button.icon02_ico_docu{
	margin-right:2px; 
	background: url(../images/qddesigner/column.png) no-repeat ;
}

input, button, select, textarea {
	border:  1px solid #ccc;
}
input:focus , button:focus , select:focus , textarea:focus {
	border:1px solid #60a0ff;
}
.formula_tree_container{
	height:280px;
	width:250px;
	overflow-y:scroll;
	overflow-x:auto;
	border-top-width:1px;
}
.formtable, #checkMessageTable{
	background-color:#fafafa;
	border-collapse: collapse;
	border: 1px solid #b8cedd;
	line-height: 26px;
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
}
.formtable tr th, #checkMessageTable tr th{
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
    color: #165b7b;  
	border-collapse: collapse;
	border-bottom:1px solid #b8cedd;
	border-right:1px solid #b8cedd;
    padding: 0 5px 0;  
	background:#efefef url(../images/main/formtable_th.gif) repeat-x;
	height: 28px;
}
.formtable tr td , #checkMessageTable tr td{
	color:#424242;
	border-top:1px solid #d5d5d3;
	border-right:1px solid #d5d5d3;
    padding: 0 5px 0;  
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
	
}

.formtable, #checkMessageTable{
	background-color:#fafafa;
	border-collapse: collapse;
	border: 1px solid #b8cedd;
	line-height: 26px;
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
}
.formtable tr th, #checkMessageTable tr th{
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
    color: #165b7b;  
	border-collapse: collapse;
	border-bottom:1px solid #b8cedd;
	border-right:1px solid #b8cedd;
    padding: 0 5px 0;  
	background:#efefef url(../images/main/formtable_th.gif) repeat-x;
	height: 28px;
}
.formtable tr td , #checkMessageTable tr td{
	color:#424242;
	border-top:1px solid #d5d5d3;
	border-right:1px solid #d5d5d3;
    padding: 0 5px 0;  
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
	
}
.toolbar_narr{
	padding:5px;
}
.no_top_padding{
	padding-top:0px;
	
}
.no_bottom_padding{
	padding-bottom:0px;
}
.cross-body{
	border:1px solid #a8cdd7;
	background-color: #eff8fd;
	height:350px;
	padding:3px 3px 3px 3px;
	margin-left:10px;
}
.cross-inner-left{
	border:1px solid #83c3db;
	width:30%;
	height:170px;
	float:left;
}
.cross-inner{
	border:1px solid #83c3db;
	width:69%;
	height:170px;
	float:left;
}
.cross-right-mar{
	margin-left:3px;
}
.cross-inner-titile{
	height:20px;background-color: #c4dfe9;padding:2px 0px 0px 2px;border:1px solid #83c3db
}
.cross-col-container{
	height:146px;overflow-y:scroll;
}
.designer-panel-css{
	border:1px solid #99bbe8;padding:5px;background-color: #c6d9f1;
}

