.igMenu {
	background:#b7d8fa;
	white-space: nowrap;
	border-collapse:separate;
	border-spacing:0px;
	empty-cells:show;
	visibility:hidden;
	position:absolute;
	z-index:1000;
	width: 120px;
	border:1px solid #73818e; 
	border-radius: 3px;
}

.igMenu img
{
	border:0px;
	filter:;
}

.igMenuItem {
	text-align:left;
	background-image:url();
	line-height:30px;
	height:30px;
	text-decoration:none;
	vertical-align:middle;
	padding: 2px 0;
}


.igMenuItem a {
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	padding-top:0px;
	padding-top:5px;
}


/* class applied to menu item separators */
.owmhseparator {
	
	background-image:url(webmenu/igwm_separator.gif);
	background-repeat:no-repeat;
	background-position:center;
	/*margin: 0px 0px 0px 0px;*/
	margin-top:4px;
	margin-bottom:-4px;
	padding: 0px;
	height: 2em;
	width: 1px;
}	

td.owmc {
	border-right:0px !important;
	padding-right:0px !important;
	text-decoration: none !important;
	
}

/* class applied to regular icons   */
td.owmi {
	border-left:0px !important; 
	border-right:0px !important; 
	padding-left:4px !important;
	padding-right:0px !important;
	text-decoration: none !important;
}

/* class applied to labels          */
td.owml {
	border-left-style:none !important;
	border-right-style:none !important;
	padding-left:0px !important;
	padding-right:0px !important;
	color:#fff;
	font-size: 14px;
	font-family: "Microsoft YaHei", Tahoma, SimHei, arial;
}

/* class applied to the 'hasChildren' icons */
td.owmm {
	border-left-style:none !important;
	padding-left:0px !important;
	text-decoration: none !important;
}
td.owmm img {
	margin-left:0px !important;
	margin-right:0px !important;
}

/* class applied to vertical separators */
.owmseparator {
	background-color: #999999;
	height: 1px;
	margin: 3 2 3 0;
	padding: 0;
}