<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
			<param-name>From-Encoding</param-name>
			<param-value></param-value>
	</context-param>
	<context-param>
			<param-name>To-Encoding</param-name>
			<param-value>UTF-8</param-value>
	</context-param>
	<context-param>
			<param-name>contextClass</param-name>
			<param-value>cn.sunline.NonValidXmlWebApplicationContext</param-value>
	</context-param>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>cn.sunline.permission.common.LoginFilter</filter-class>
		<!--<init-param>-->
            <!--<param-name>appId</param-name>-->
            <!--<param-value>SunJCM</param-value>-->
        <!--</init-param>        -->
        <!--&lt;!&ndash; 统一门户机构服务的WebService地址 &ndash;&gt;-->
        <!--<init-param>-->
            <!--<param-name>orgServiceUrl</param-name>-->
            <!--<param-value>http://192.168.100.45:5556/uap/services/OrgService</param-value>-->
        <!--</inuapit-param>-->
        <!--&lt;!&ndash; 统一门户用户服务的WebService地址 &ndash;&gt;-->
        <!--<init-param>-->
            <!--<param-name>userServiceUrl</param-name>-->
            <!--<param-value>http://192.168.100.45:5556/uap/services/UserService</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        	<!--<param-name>isSynOrg</param-name>-->
        	<!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        	<!--<param-name>isUap</param-name>-->
        	<!--<param-value>false</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        	<!--<param-name>dmPath</param-name>-->
        	<!--<param-value>/home/oracle/app/biee/user_projects/domains/app/</param-value>-->
        <!--</init-param>-->
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<!-- <url-pattern>/main.jsp</url-pattern> -->
		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			cn.sunline.framework.FrameworkConfiguration
		</listener-class>
	</listener>
		
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>RMIServlet</servlet-name>
		<servlet-class>cn.sunline.framework.rmi.RMIServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RMIServlet</servlet-name>
		<url-pattern>/version/RMIServlet</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>RMIServlet</servlet-name>
		<url-pattern>*.stub</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GbkJsp</servlet-name>
		<servlet-class>cn.sunline.GbkJsp</servlet-class>
		<init-param>
			<param-name>DO-JSMIN</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GbkJsp</servlet-name>
		<url-pattern>/version/gbk.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfigUploadServlet</servlet-name>
		<servlet-class>cn.sunline.config.ConfigUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigUploadServlet</servlet-name>
		<url-pattern>/version/config</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigUploadServlet</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MigrateServlet</servlet-name>
		<servlet-class>cn.sunline.sysmgt.migrate.MigrateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MigrateServlet</servlet-name>
		<url-pattern>/version/MigrateServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
	 	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
